.Find-OpenChat-Chatlist__Content{
    border-bottom: solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 1px;
    padding: 10px 0px;
}

.Find-OpenChat-Chatlist__Content a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.Find-OpenChat-Chatlist-preview :nth-child(2){
    height: 110px;
    width: 110px;
    border-radius: 10px;
}

.Find-OpenChat-Chatlist-preview :nth-child(1){
    width: 50px;
    height: 24px;
    position: absolute;
    margin-left: 55px;
    margin-top: 80px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.Find-OpenChat-Chatlist__Info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Find-OpenChat-Chatlist__Info :nth-child(1){
    color: black;
    font-size: large;
    font-weight: 600;
}

.Find-OpenChat-Chatlist__Info :nth-child(2){
    margin: 3px 0px;
    color:  rgba(0, 0, 0, 0.3);
}

.Chatlist__Content__Info{
    display: flex;
    align-items: center;
}

.Chatlist__Content__Info :nth-child(1){
    height: 20px;
    width: 20px;
    border-radius: 7px;
}

.Chatlist__Content__Info :nth-child(2){
    color:  rgba(0, 0, 0, 0.3);
    align-self: center;
}

.Chatlist__Content__Info :nth-child(3){
    color:  hotpink;
    align-self: center;
}