.User-Component {
  margin: 0px 10px;
  display: flex;
  justify-content: space-between;
}

.User-Component-Ref {
  display: flex;
  text-decoration: none;
}

.User-Component-Ref img {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 10vh;
  border-radius: 30%;
}

.User-Component-Ref-InfoText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  padding: 15px 0px;
}

.User-Component-Ref-InfoText__Name {
  font-weight: 600;
  font-size: 25px;
  color: black;
}
